/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #040a03; */
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    background: rgb(18,209,26);
    background: radial-gradient(circle, rgba(18,209,26,1) 0%, rgba(0,0,0,1) 69%);
}

.mt-4 {
    margin-top: 1.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

h5 {
    margin: 0;
}

.min-vh-100 {
    min-height: 100vh;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-weight: 300;
}

.form-control {
    border-radius: 0.25rem;
}

.btn {
    border-radius: 0.25rem;
}